# Environment files
.env
.env.backup
.env.production

# Composer dependencies
/vendor
composer.phar

# Generated audio files
/audio/*
!/audio/.gitkeep

# IDE specific files
.idea
.vscode
*.sublime-workspace
*.sublime-project

# System Files
.DS_Store
Thumbs.db

# Logs
*.log
php_error.log
error.log

# Cache files
*.cache
